* {
    font-family: 'Roboto' , sans-serif ;
    box-sizing: border-box;
    
   
  }

body {
    background-image: url("./bkgrnd.jpg");
    background-size: cover;
    background-position: 40%;
     

}


/*MENU BAR*/ 

.menu-items {
    display: flex; 
    flex-wrap: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    align-items: center ;
    justify-content: center ;
    justify-content: space-around;
    margin: auto 500px auto 500px;
}

header {
    padding: 30px 20px 30px 20px;
    top: 0;

}


a {
  text-decoration: none;
  color: black;
  
}

a:hover {
    font-weight: bold;
}


/*HERO*/

.flex-container {
    display: flex; 
    align-items: center;
    margin-top: 100px;
    margin-bottom: 250px;
}

.main-content {
    flex: 3;
  
}

.picture {
    flex: 1.5;
    text-align: right;
    margin-right: 20px;
    margin-left: 50px;
}

.pfp {
    border-radius: 30%;
    width: 50%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);;
}

.header-text {
    font-size: 35px;
    text-shadow: 1px 1px 0.1px black;
}

/* ARTICLE CONTENTS IN THE BODY */

.about-me , .experience , .projects  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner {
    background-color: wheat;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);;
    
}

.banner h1 {
    font-size: 30px;
}

.banner p {
    font-size: 20px;
}

.banner b {
    font-style: italic;
    font-size:25px;
}




.contact {
    background-color:#B3A97B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);;
    max-height: 100%;
}

.contact-tag {
    
}

.love {
    
}





