* {
    font-family: 'Roboto' , sans-serif ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
  }

body {
    background-image: url("./bkgrnd.jpg");
    background-size: cover;
    background-position: 100%;
     

}


/*MENU BAR*/ 

.menu-items {
    display: flex; 
    flex-wrap: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    align-items: center ;
    justify-content: center ;
    justify-content: space-around;
    margin: auto 460px auto 460px;
}

header {
    padding: 30px 20px 30px 20px;
    top: 0;

}


a {
  text-decoration: none;
  color: black;
  
}

a:hover {
    font-weight: bold;
}


/*HERO*/

.flex-container {
    display: flex; 
    align-items: center;
    margin-top: 100px;
    margin-bottom: 250px;
}

.main-content {
    flex: 2.3;
  
}

.picture {
    flex: 1.5;
    text-align: right;
    margin-right: 30px;
    margin-left: 50px;
}

.pfp {
    border-radius: 30%;
    width: 61%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);;
}

.header-text {
    font-size: 35px;
    text-shadow: 1px 1px 0.1px black;
}

/* ARTICLE CONTENTS IN THE BODY */


.about-me , .experience , .projects  {
    display: flex;
    align-items: center;
}

#about-me-tag , #experience-tag , #projects-tag {
    display: flex;
    justify-content: space-around;
    background-image: url("./black-pattern.png");
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 20px 50px 20px 20px; 
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);;
    padding: 10px;
    min-width: 300px;
  
    
    
}

.about-me-content  {
    display: flex;
    text-align: left;
    margin-right: 100px;

}
.experience-content {
    margin-right: 100px;
}
.about-me , .experience {
    margin-bottom: 60px;            /*Allows for each card to have a sufficient amount of spacing in between each other*/
}


.banner {
    background-image: url(./pattern-bg.png);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);;
    
}

.banner h1 {
    font-size: 30px;
}

.banner p {
    font-size: 20px;

}

.banner b {
    font-style: italic;
    font-size:25px;
}

.contact {
    background-color: rgb(94, 76, 76);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    max-height: 100%;
}

.projects-content {
    display: flex;
    justify-content: space-around;
}

.cards {
    font-weight: bold;
    margin: 20px 
}
.project1 , .project2 , .project3 , .project4 {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./black-pattern.png");
    color: white;
    border-radius: 20px;
    margin: 10px 60px 60px 20px; 
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);;
    padding: 10px;
    min-width: 200px;
    min-height: 200px;
}

li {
    font-size: 22px;
}
.contact {
    display: flex;
    font-size: 30px;
    align-items: center;           /*Places contact me flex box and adjacent flox box on the same line vertically*/
    color: whitesmoke;
    font-weight: bolder;
    justify-content: space-around;
}

#contact-tag {
    display: flex;
    margin-left: 0px;
}

.love {

}

.solid {
    border-top: 4px solid black;
}





