* {
    font-family: 'Roboto' , sans-serif ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

body {
    background-image: url("./images/waves.svg");
}


/*MENU BAR*/ 

.menu-items {
    display: flex; 
    flex-wrap: flex;
    list-style: none;
    font-size: 22px;
    font-weight: 900;
    align-items: center ;
    justify-content: center ;
    justify-content: space-around;
    margin: auto 460px auto 460px;
}

header {
    padding: 30px 20px 30px 20px;
    top: 0;
}


.nav {
    background-image: linear-gradient(
      to right,
      #132259,
      #132259 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s ease-in-out;
    font-family: 'Dosis', sans-serif;
  }
  
  .nav:before {
    content: '';
    background: #483cb3;
    border-radius: 3px;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.5s ease-in-out;
  }
  
  .nav:hover {
   background-position: 0;
  }
  
  .nav:hover::before {
    width:100%;
  }

/*HERO*/

.flex-container {
    display: flex; 
    align-items: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.main-content {
    flex: 2.3;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    flex-direction: column;
}

.picture {
    flex: 1.5;
    text-align: right;
    margin-right: 30px;
    margin-left: 50px;
}

.pfp {
    border-radius: 30%;
    width: 61%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);;
}

.header-text {
    display: flex;
    justify-content: center;
    font-size: 65px;
    color: rgb(221, 79, 79);
    font-family: 'Dosis', sans-serif;
}

.inline-block {
    margin-bottom: 10px;
}

.sub-text {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #bba2ac;
    font-family: 'Dosis', sans-serif;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

 .dropdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
 }

.dropdown {
    background-color: transparent;
    border: none;
}

.dropdown-icon {
    width: 40px;
    filter: invert(1);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    filter: invert(91%) sepia(0%) saturate(1206%) hue-rotate(210deg) brightness(85%) contrast(79%);
    
}

.dropdown-icon:hover {
    cursor: pointer; 
    animation-name: bounce;
    -moz-animation-name: bounce;
    animation-iteration-count: 3;
}
/* ARTICLE CONTENTS IN THE BODY */

.about-me {
    display: flex;
    background-color: rgba(221, 79, 79, 0.609);
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    max-width: 550px;
    margin: auto;
}


.about-me-title {
    color: rgb(184, 182, 182);
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

.about-me-tag, .about-me-content {
    display: flex;
    justify-content: center;
    color:black;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    padding: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(221, 79, 79, 0.609);
    justify-content: center;
    border-radius: 30px;
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

.sidebysideLang {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 62px;
}

.sidebysideTools {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 117px;
}

.sidebysideCategories {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 40px;
}

.skills-tag-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(184, 182, 182);
    font-family: 'Dosis', sans-serif;
    font-size: 30px;

}

.skills-categories {
    display: flex;
    font-family: 'Dosis', sans-serif;
    color: rgb(184, 182, 182);
    padding-left: 10px;
    padding-bottom: 10px;
}

.skills-display {
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    flex: 2;
}

.skills-tags {
    display: flex;
    justify-content: space-around;
    color:black;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

.experience {
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 79, 79, 0.609);
    justify-content: center;
    border-radius: 30px;
    margin: auto;
    max-width: 850px;
    padding: 10px;
}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black;
}

.exp-title-main {
    display: flex;
    justify-content: center;
    color: rgb(184, 182, 182);
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

.exp-title {
    display: flex;
    color: rgb(184, 182, 182);
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

.exp-cont {
    display: flex;
    color:black;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

.contact {
    background-color: rgb(200, 79, 79);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    max-height: 100%;
    display: flex;
}

.project-title {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color:rgb(200, 79, 79);
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 70px auto 70px;
}

.cards {
    display: flex;
    font-weight: bold;
}

.project1 , .project2 , .project3 , .project4 , .project5 , .project6 , .project7 , .project8 , .project9, .project10, .project11, .project12, .project13 {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/black-pattern.png");
    color: rgb(0, 0, 0);
    border-radius: 20px;
    /* margin: 40px 32px 40px 32px;  */
    margin: 15px auto 15px auto;
    justify-content: space-between;
    justify-content: space-around;
    padding: 10px;
    min-width: 200px;
    min-height: 200px;                 /*Allows for project cards to have the same size and allow text insde to wrap*/
    max-width: 200px;
    max-height: 200px;
    align-items: center;
}

.project1 {
    background-image: url("./images/hero-bg.jpg");     /*Since the first project card is run buddy, we can differentiate it from the placeholder background. Cascading sheets, updates background*/
    background-position: 75% -20%;
    border: 5px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.project2 {
    background-image: url("./images/Mock-up.png");     /*Since the first project card is run buddy, we can differentiate it from the placeholder background. Cascading sheets, updates background*/
    background-position: 50% -200%;             /*Positions background where the people in it are gathering paperwork*/
    border: 5px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.project3 {
    background-image: url("./images/git-it-done.png");
    background-size: 125%;
    border: 5px solid black;
    cursor: pointer;

}

.project4 {
    background-image: url("./images/taskmasterpro.png");
    background-size: 150%;
    background-position: 48% 60%;
    border: 5px solid black;
    cursor: pointer;

}

.project5 {
    background-image: url("./images/passgenerator.png");
    background-size: 110%;
    background-position: 48% 120%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.project6 {
    background-image: url("./images/codequiz.png");
    background-size: 140%;
    background-position: 60% 120%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.project7 {
    background-image: url("./images/conch.png");
    background-size: 115%;
    background-position: 60% 120%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.project8 {
    background-image: url("./images/workday.png");
    background-size: 320%;
    background-position: 73% 120%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.project9 {
    background-image: url("./images/node.png");
    background-size: 145%;
    background-position: 0% 120%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.project10 {
    background-image: url("./images/readmepic.png");
    background-size: 200%;
    background-position: 0% 120%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.project11 {
    background-image: url("./images/jestRPG.png");
    background-size: 230%;
    background-position: 0% 120%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.project12 {
    background-image: url("./images/techbloggr.png");
    background-size: 150%;
    background-position: 55% 120%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.project13 {
    background-image: url("./images/gymquest.png");
    background-size: 170%;
    background-position: 80% 10%;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

.cards {
    opacity: 0;
    font-style: italic;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

.cards-title {
    opacity: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    color:rgb(221, 79, 79);

}
#allcards:hover > .cards-title {
    opacity: 1;
}

#allcards:hover > .cards {
    opacity: 1;
}

#allcards:hover {
    background-image: none;
    background-color: rgb(184, 182, 182);
    opacity: 1;
}

ul {
    list-style-type: none;
}

.exp-title {
    font-style: italic;
}
.contact {
    display: flex;
    font-size: 30px;
    align-items: center;           /*Places contact me flex box and adjacent flox box on the same line vertically*/
    color: whitesmoke;
    justify-content: flex-end;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 325px; */
}

#contact-content {
    margin: 10px 20px 10px 20px; 
}

.github {
    padding: 10px 0px;
    min-width: 45px;
    filter: invert(100%); 
    cursor: pointer;
}

.LI {
    padding: 10px 0px;
    min-width: 30px;
    filter: invert(100%);
    cursor: pointer;
}

.svg-container {
    display: flex;
    justify-content: center;
    width:55px; /* overriding previous values */
    height:55px;
    border-radius: 50%; /* here's the trick */
    background-color: rgb(200, 79, 79);
    margin-bottom: 130px;
}

.LI:hover , .gmail:hover , .github:hover {
    opacity: 60%;
}

.gmail {
    padding: 10px 0px;
    min-width: 40px;
    height:auto;
    filter: drop-shadow(1px 0px 0px black);
    filter: invert(100%);
    cursor: pointer;
}

.love {
    display: flex;
    margin-left: 480px;
    text-align: center;
}



.btn {
    background-color: transparent;
    border: none;
}

#hoverbig:hover {
    transform: scale(1.1,1.1);
    transform-origin: center;
    transition: 0.5s;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 182, 182);
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 70px;
    margin-bottom: 0px;
    height: 80px;
    color:rgb(221, 79, 79);
}

.resume-container {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.resume-title {
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    filter:invert(46%) sepia(12%) saturate(3817%) hue-rotate(318deg) brightness(90%) contrast(91%);

}

.pdf {
    text-decoration: none;
    color: inherit;
}



/*MEDIA QUERIES*/

@media screen and (max-width: 1181px) {

    .love {
        margin-left: 300px;
    }

    .svg-container {
        display: flex;
        justify-content: center;
        width:55px; /* overriding previous values */
        height:55px;
        border-radius: 50%; /* here's the trick */
        background-color: rgb(200, 79, 79);
    }
}

@media screen and (max-width: 980px) {
    .menu-items {
        display: flex; 
        flex-wrap: flex;
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        align-items: center ;
        justify-content: center ;
        justify-content: space-around;
        margin: auto 150px auto 150px;
    }
    
    .pfp {
        border-radius: 30%;
        width: 100%;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

    }

    .banner {
        max-width: 980px;
    }

    .about-me-content {
        margin-top: 20px;
    } 

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .project1 , .project2 , .project3 , .project4, .project5, .project6, .project7, .project8, .project9, .project10, .project11 {
        justify-content: center;
    }

    .love {
        margin-left: 200px;
    }


}


@media screen and (max-width: 768px) {

    .menu-items {
        display: flex; 
        flex-wrap: flex;
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        align-items: center ;
        justify-content: center ;
        justify-content: space-around;
        margin: auto 60px auto 60px;
    }

    .pfp {
        border-radius: 30%;
        width: 100%;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

    }


    #projects-tag {
        margin: 60px 50px 2px 20px;
    }

    .project1 , .project2 , .project3 , .project4 {
        margin: 40px 32px 40px 32px; 
    }

    .project1 , .project2 , .project3 , .project4 , .about-me , .experience , .projects {
        display: flex;
        flex-direction: column;

    }

    .love {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 50px;
    }
}


@media screen and (max-width: 575px) {
    
    .menu-items {
        display: flex; 
        flex-wrap: flex;
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        align-items: center ;
        justify-content: center ;
        justify-content: space-around;
        margin: auto;
    }
    
    
    .pfp {
        border-radius: 30%;
        width: 100%;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

    }

    .banner {
        max-width: 575px;
    }

    .project1 , .project2 , .project3 , .project4 {
        margin: 40px 32px 40px 32px; 
    }

    .project1 , .project2 , .project3 , .project4 , .about-me , .experience , .projects {
        display: flex;
        flex-direction: column;

    }


    #contact-content {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    #contact-content>* {
        flex: 1 1 200px;
    }

    .gmail {
        max-width: 10%;
    }

    .about-me-content , .experience-content {
        margin-left: 30px;
        margin-right: 30px;
    }

}


@media screen and (max-width: 575px) {
    .menu-items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        line-height: 1;
    }

    .pfp {
        border-radius: 30%;
        min-width: 100px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
        align-items: center;
        margin-bottom: 0px;

    }
    .picture {
        flex: 1.5;
        margin-left: 30px;
        width: 50%;
    }

    .main-content {
        margin-top: 10px;
    }

    .flex-container {
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .sub-text {
        justify-content: center;
        margin-left: 40px;
        margin-right: 10px;
        font-size: 25px;

    }

    .header-text {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 45px;
        
    }

    .dropdown-container {
        display: none;
    }

    .about-me-title {
        color:rgb(221, 79, 79);
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        max-width: 550px;
        margin: auto;
    }

    .about-me-content {
        color: rgb(184, 182, 182);
        font-size: 18px;
        margin-top: 0;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: transparent;
        justify-content: center;
        border-radius: 30px;
        margin: auto;
        padding: 10px;
    }

    .skills-tag-title {
        font-size: 30px;
        color:rgb(221, 79, 79);
    }

    .sidebysideLang {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
    }
    
    .sidebysideTools {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        gap: 0;
    }
    
    .sidebysideCategories {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        gap: 0;
    }

    .skills-categories {
        color:rgb(221, 79, 79);
        font-size: 22px;
    }

    .skills-display {
        color:rgb(184, 182, 182);
        font-size: 18px;
        margin-left: 10px;
    }

    .experience {
        background-color: transparent;
    }

    .exp-title {
        font-size: 22px;
        color:rgb(200, 79, 79);
    }

    .exp-title-main {
        color:rgb(200, 79, 79);
    }

    .exp-cont {
        font-size: 18px;
        color:rgb(184, 182, 182);
    }

    #projects-tag {
        margin: 60px 17px 2px 20px;
    }

}
