* {
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("../src/assets/images/waves.svg");
}

.menu-items {
  display: flex; 
  flex-wrap: flex;
  list-style: none;
  font-size: 22px;
  font-weight: 900;
  align-items: center ;
  justify-content: center ;
  justify-content: space-around;
  margin: auto 460px auto 460px;
}

header {
  padding: 30px 20px 30px 20px;
  top: 0;
}

.nav {
  background-image: linear-gradient(
    to right,
    #132259,
    #132259 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s ease-in-out;
  font-family: 'Dosis', sans-serif;
}

.nav:before {
  content: '';
  background: #483cb3;
  border-radius: 3px;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

.nav:hover {
 background-position: 0;
}

.nav:hover::before {
  width:100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 300px auto 100px auto;
  max-height: 50%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-size: 45px;
  color: rgb(221, 79, 79);
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sub-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  color: #bba2ac;

}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #162768;
  justify-content: center;
  border-radius: 30px;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;

}


.about-me-title {
  color: rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
}

.about-me-tag {
  margin-top: 200px;
}

.about-me-tag, .about-me-content {
  display: flex;
  justify-content: center;
  color:rgb(184, 182, 182);
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  padding: 10px 10px 10px 20px;
}

.about-me-content {
  width: 800px;
  padding: 15px;
}

#about-me-tag {
  margin-top: 220px;
  margin-bottom: 30px;
  font-size: 50px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #162768;
  border-radius: 30px;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
}

.skills-tag-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 50px;

}

.skills-content {
  padding: 15px;
}

.skills-categories {
  display: flex;
  font-size: 35px;
  font-family: 'Dosis', sans-serif;
  color: rgb(200, 79, 79);
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: baseline;
}

.skills-display {
  display: flex;
  font-size: 35px;
  font-family: 'Dosis', sans-serif;
  color:rgb(184, 182, 182);
  flex: 2;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: baseline;
}

.skills-tags-lang {
  display: flex;
  justify-content: space-around;
  color:black;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  vertical-align: baseline;
  gap: 58px;
}

.skills-tags-tools {
  display: flex;
  justify-content: space-around;
  color:black;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  vertical-align: baseline;
  gap: 135px;
}

.skills-tags-frame {
  display: flex;
  justify-content: space-around;
  color:black;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  vertical-align: baseline;
  gap: 30px;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 20px;

}

.html, .git, .react, .nodejs, .mongo {
  filter:invert(46%) sepia(12%) saturate(3817%) hue-rotate(318deg) brightness(90%) contrast(91%);

}

.css {
  width: 50px;
  filter:invert(46%) sepia(12%) saturate(3817%) hue-rotate(318deg) brightness(90%) contrast(91%);
}

.js {
  width: 50px;
  filter:invert(46%) sepia(12%) saturate(3817%) hue-rotate(318deg) brightness(90%) contrast(91%);

}




.experience {
  display: flex;
  flex-direction: column;
  background-color: #162768;
  justify-content: center;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 1200px;
  padding: 10px;
}

.experience-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:rgb(184, 182, 182);
  padding: 10px;
}

.exp-title-main {
  display: flex;
  justify-content: center;
  color: rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  margin-top: 145px;
  margin-bottom: 25px;
  padding-top: 10px;
}

.exp-title {
  display: flex;
  color: rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 28px;
}

.exp-cont {
  display: flex;
  color:rgb(184, 182, 182);
  font-family: 'Dosis', sans-serif;
  font-size: 23px;
}

.exp-title {
  font-style: italic;
}

.projects {
  margin-top: 170px;
}

.projects-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.project-title {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  color:rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 70px auto 70px;
}

#allcards {
  display: flex;
  flex-wrap: wrap;
  background-image: black;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  margin: 15px auto 15px auto;
  justify-content: space-between;
  justify-content: space-around;
  padding: 10px;
  min-width: 200px;
  min-height: 200px;                 /*Allows for project cards to have the same size and allow text insde to wrap*/
  max-width: 200px;
  max-height: 200px;
  align-items: center;
}

.project1 {
  background-image: url("../../images/hero-bg.jpg");     
  background-position: 75% -20%;
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.project3 {
  background-image: url("../../images/git-it-done.png");
  background-size: 125%;
  border: 3px solid black;
  cursor: pointer;

}

.project4 {
  background-image: url("../../images/taskmasterpro.png");
  background-size: 150%;
  background-position: 48% 60%;
  border: 3px solid black;
  cursor: pointer;

}

.project5 {
  background-image: url("../../images/passgenerator.png");
  background-size: 110%;
  background-position: 48% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project6 {
  background-image: url("../../images/codequiz.png");
  background-size: 140%;
  background-position: 60% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project7 {
  background-image: url("../../images/conch.png");
  background-size: 115%;
  background-position: 60% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project8 {
  background-image: url("../../images/workday.png");
  background-size: 320%;
  background-position: 73% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project9 {
  background-image: url("../../images/node.png");
  background-size: 145%;
  background-position: 0% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project10 {
  background-image: url("../../images/readmepic.png");
  background-size: 200%;
  background-position: 0% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project2 {
  background-image: url("../../images/budgettracker.png"); 
  background-size: 100%;   
  background-position: 50% ;        
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.project11 {
  background-image: url("../../images/jestRPG.png");
  background-size: 230%;
  background-position: 0% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project12 {
  background-image: url("../../images/techbloggr.png");
  background-size: 150%;
  background-position: 55% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project13 {
  background-image: url("../../images/gymquest.png");
  background-size: 170%;
  background-position: 80% 10%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.btn {
  background: none;
  border: none;
}

.all-cards-container {
  display: flex;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 70px auto 70px;
}

.cards {
  opacity: 0;
  font-style: italic;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

.card-link {
  text-decoration: none;
}

.cards-title {
  opacity: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  color:rgb(221, 79, 79);

}
#allcards:hover > .cards-title {
  opacity: 1;
}

#allcards:hover > .cards {
  opacity: 1;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  border-radius: 20px;
  max-width: 220px;
  margin-bottom: 20px;
  margin: 20px auto 20px auto;
  height: 80px;
  color:rgb(221, 79, 79);
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.resume-container {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.resume-title {
  display: flex;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 50px;
  color:rgb(221, 79, 79);
}

.email, .name, .message {
  color:rgb(221, 79, 79);
  font-size: 30px;
}

.box-container {
  display: flex;
  justify-content: center;
  background-color: #162768;
  width: 550px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.name-line {
  display: flex;
  vertical-align: middle;
  gap: 64px;
  padding-top: 10px;
}

.email-line {
  display: flex;
  vertical-align: middle;
  gap: 61px;
}

.message-line {
  gap: 20px;
}

.message {
  display: flex;
  vertical-align: middle;
}

.label {
  background-color: #162768;
  border-width: 0 0 1px;
  width: 300px;
  outline: none;
  font-size: 20px;
  color:rgb(221, 79, 79);
  border-color: rgb(221, 79, 79);
}

textarea {
  border-width: 0 0 1px;
  outline: none;
  width: 445px;
  height: 130px;
  font-size: 20px;
  background-color: #162768;
  color:rgb(221, 79, 79);
  border-color: rgb(221, 79, 79);
  resize: none;

}

.submit-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.submit {
  font-size: 30px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: none;
  background-color: rgb(221, 79, 79) ;
  cursor: pointer;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  filter:invert(46%) sepia(12%) saturate(3817%) hue-rotate(318deg) brightness(90%) contrast(91%);

}

.pdf {
  text-decoration: none;
  color: inherit;
}

#hoverbig:hover {
  transform: scale(1.1,1.1);
  transform-origin: center;
  transition: 0.5s;
}

#allcards:hover {
  background-image: none;
  background-color: rgb(184, 182, 182);
  opacity: 1;
}