* {
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("../src/assets/images/waves.svg");
}

.menu-items {
  display: flex; 
  flex-wrap: flex;
  list-style: none;
  font-size: 22px;
  font-weight: 900;
  align-items: center ;
  justify-content: center ;
  justify-content: space-around;
  margin: auto 460px auto 460px;
}

header {
  padding: 30px 20px 30px 20px;
  top: 0;
}

.nav {
  background-image: linear-gradient(
    to right,
    #132259,
    #132259 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s ease-in-out;
  font-family: 'Dosis', sans-serif;
}

.nav:before {
  content: '';
  background: #483cb3;
  border-radius: 3px;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

.nav:hover {
 background-position: 0;
}

.nav:hover::before {
  width:100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 300px auto 100px auto;
  max-height: 50%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-size: 45px;
  color: rgb(221, 79, 79);
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sub-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  color: #bba2ac;

}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #162768;
  justify-content: center;
  border-radius: 30px;
  max-width: 550px;
  margin: auto;
  margin-bottom: 30px;
}


.about-me-title {
  color: rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
}

.about-me-tag, .about-me-content {
  display: flex;
  justify-content: center;
  color:rgb(184, 182, 182);
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  padding: 10px 10px 10px 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #162768;
  border-radius: 30px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
}

.skills-tag-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 30px;

}

.skills-categories {
  display: flex;
  font-family: 'Dosis', sans-serif;
  color: rgb(200, 79, 79);
  padding-left: 10px;
  padding-bottom: 10px;
  gap: 20px;
}

.skills-display {
  display: flex;
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  flex: 2;
  color:rgb(184, 182, 182);
}

.skills-tags {
  display: flex;
  justify-content: space-around;
  color:black;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
}

.experience {
  display: flex;
  flex-direction: column;
  background-color: #162768;
  justify-content: center;
  border-radius: 30px;
  margin: auto;
  max-width: 850px;
  padding: 10px;
}

.experience-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:rgb(184, 182, 182);
  padding: 10px;
}

.exp-title-main {
  display: flex;
  justify-content: center;
  color: rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  padding-top: 10px;
}

.exp-title {
  display: flex;
  color: rgb(200, 79, 79);
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
}

.exp-cont {
  display: flex;
  color:rgb(184, 182, 182);
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
}

.exp-title {
  font-style: italic;
}

.projects-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 70px auto 70px;
}

#allcards {
  display: flex;
  flex-wrap: wrap;
  background-image: black;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  margin: 15px auto 15px auto;
  justify-content: space-between;
  justify-content: space-around;
  padding: 10px;
  min-width: 200px;
  min-height: 200px;                 /*Allows for project cards to have the same size and allow text insde to wrap*/
  max-width: 200px;
  max-height: 200px;
  align-items: center;
}

.project1 {
  background-image: url("../../images/hero-bg.jpg");     
  background-position: 75% -20%;
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.project3 {
  background-image: url("../../images/git-it-done.png");
  background-size: 125%;
  border: 3px solid black;
  cursor: pointer;

}

.project4 {
  background-image: url("../../images/taskmasterpro.png");
  background-size: 150%;
  background-position: 48% 60%;
  border: 3px solid black;
  cursor: pointer;

}

.project5 {
  background-image: url("../../images/passgenerator.png");
  background-size: 110%;
  background-position: 48% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project6 {
  background-image: url("../../images/codequiz.png");
  background-size: 140%;
  background-position: 60% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project7 {
  background-image: url("../../images/conch.png");
  background-size: 115%;
  background-position: 60% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project8 {
  background-image: url("../../images/workday.png");
  background-size: 320%;
  background-position: 73% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project9 {
  background-image: url("../../images/node.png");
  background-size: 145%;
  background-position: 0% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project10 {
  background-image: url("../../images/readmepic.png");
  background-size: 200%;
  background-position: 0% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project2 {
  background-image: url("../../images/budgettracker.png"); 
  background-size: 100%;   
  background-position: 50% ;        
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.project11 {
  background-image: url("../../images/jestRPG.png");
  background-size: 230%;
  background-position: 0% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project12 {
  background-image: url("../../images/techbloggr.png");
  background-size: 150%;
  background-position: 55% 120%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.project13 {
  background-image: url("../../images/gymquest.png");
  background-size: 170%;
  background-position: 80% 10%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.btn {
  background: none;
  border: none;
}
